* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ECF4D3, #BAD86A);
}


.registre-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 50px;
}

.registre-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px 0px 30px;
}

.input-row {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.input-row > * {
  flex-grow: 1;
}

.img-registre {
  width: 40%;
}

.btn {
  text-decoration: none;
  color: #e94a00;
}

.btn:hover {
  color: #003915;
}

@media screen and (max-width: 768px) {


  .registre-container-left {
    width: 100%;
  }

  .img-registre {
    display: none;
  }

}

@media screen and (max-width: 440px) and (min-width: 360px) {


  .registre-container-left {
    width: 100%;
  }

  .img-registre {
    display: none;
  }
}